
    <div class="row animated fadeIn mb-2"  >
      <div class="col-12">
          <div class="card">
              <input type="text"
                     class="form-control"
                     placeholder="Buscar usuario..."
                     (keyup)="buscar(termino.value)"
                     #termino
                     >
          </div>
      </div>
  </div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Alumnos Inscritos</h2>
        <h6 *ngIf="alumnos?.length>=30"class="m-0 font-weight-bold text-muted">Total de alumnos: {{alumnos?.length}} <span class="text-danger">Limite Alcanzado</span></h6>
        <h6 *ngIf="alumnos?.length<30" class="m-0 font-weight-bold text-muted">Total de alumnos: {{alumnos?.length}}</h6>
    </div>



    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Email</th>
                        <th>Cuatrimestre</th>
                        <th>Carrera</th>
                        <th>matricula</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos">
                        <td (click)="mostrarimgModal(alumno)" class="selector">
                            <img class="card-img-top animated fadeIn" [src]="alumno.img | mostrarImagen:'usuario'" class="avatar" alt="">
                        </td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.apellido1}}</td>
                        <td *ngIf="alumno.apellido2">{{alumno.apellido2}}</td>
                        <td *ngIf="!alumno.apellido2">*</td>
                        <td>{{alumno.email}}</td>
                        <td>{{alumno.cuatrimestre}}</td>
                        <td>{{alumno.carrera}}</td>
                        <td *ngIf="!alumno.matricula">Induccion</td>
                        <td *ngIf="alumno.matricula">{{alumno.matricula}}</td>
                        <td *ngIf="!alumno.materia">*</td>
                        <td>
                            <a (click)="eliminarAlumnoMateria(alumno._id)">
                                <i class="fas fa-trash text-danger pointer" style="margin-right: 20px;"></i>
                            </a>
                            <a [routerLink]="['/dashboard/alumno',alumno._id]" style="margin-right: 20px;">
                              <i class="fas fa-edit text-primary"></i>
                            </a>
                            <a  [routerLink]="['/dashboard/lista-materia',materia._id, alumno._id]">
                                <i class="fas fa-bars text-primary pointer" ></i>
                            </a>


                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
