<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registrar maestros</h6>
    </div>
    <div class="card-body">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crea cuentas para los maestros</h1>
            </div>
            <form
                class="user"
                id="registerMaestroForm"
                [formGroup]="registerMaestroForm"
                (ngSubmit)="createUser()"
                >

                <div class="form-group row">

                    <input type="text"
                           class="form-control form-control-user"
                           placeholder="*Nombre completo"
                           formControlName="nombre"
                            >

                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">

                        <input type="text"
                        class="form-control form-control-user"
                        placeholder="*Primer Apellido"
                        formControlName="apellido1"
                        >
                    </div>
                    <div class="col-sm-6">

                        <input type="text"
                        class="form-control form-control-user"
                        placeholder="Segundo Apellido"
                        formControlName="apellido2"
                        >

                    </div>
                </div>
                <div class="form-group">
                    <input
                    type="email"
                    class="form-control form-control-user"
                    placeholder="Correo electronico"
                    formControlName="email"
                    >
                </div>
                <div class="form-group row">
                    <select
                            class="form-control rounded-pill"
                            formControlName="materia"
                            >
                                <option value="null" disabled="true" [selected]="true">Selecciona el curricular que impartira</option>
                                <option *ngFor="let materia of materias" [value]="materia._id">{{materia.nombre}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password"
                               class="form-control form-control-user"
                               formControlName="password"
                               placeholder="Password">
                    </div>
                    <div class="col-sm-6">
                        <input type="password"
                               class="form-control form-control-user"
                               formControlName="password2"
                               placeholder="Repeat Password">
                    </div>
                </div>
                <div class="card-body">
                    <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido</p>
                    <p *ngIf="campoNoValido('apellido1')" class="text-danger">Primer Apellido invalido</p>
                    <p *ngIf="campoNoValido('email')" class="text-danger">correo invalida</p>
                    <p *ngIf="campoNoValido('materia')" class="text-danger">materia invalida</p>
                    <p *ngIf="contrasenasNoValidas()" class="text-danger">las contrasenas deben coincidir</p>
                    <p *ngIf="contrasenasNoValidas()" class="text-danger">contrasenas invalidas</p>
                </div>
                <button class="btn btn-primary btn-user btn-block" type="submit">
                    Registrar Maestro
                </button>

            </form>
            <hr>

        </div>
    </div>
</div>
