<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Unipoli Extras</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngFor="let menuItem of menuItems">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i [class]="menuItem.icon"></i>
            <span>{{menuItem.title}}</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div  class="bg-white py-2 collapse-inner rounded">
                <a *ngFor="let sub of menuItem.submenu" 
                    class="collapse-item"
                    [routerLink]='sub.url' 
                    routerLinkActive='active'
                    [routerLinkActiveOptions]="{exact:true}"
                     >{{sub.title}}</a>
            </div>
        </div>
    </li>    

</ul>