<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Eventos</h2>
        <h6 class="m-0 font-weight-bold text-muted">Total de alumnos: {{eventos.length}}</h6>
    </div>
    <div class="card" *ngIf="cargando">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Fescripcion</th>
                        <th>Fechas</th>

                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos">
                        <td (click)="mostrarimgModal(evento)" class="selector">
                            <img class="card-img-top animated fadeIn" [src]="evento.img | mostrarImagen:'evento'" class="avatar" alt="">
                        </td>
                        <td>{{evento.nombre}}</td>
                        <td>{{evento.descripcion}}</td>
                        <td>
                          <tr>
                            Desde el
                            {{evento.horario.empieza|mostrarHoras}}
                            hasta
                          </tr>
                          <tr>
                            {{evento.horario.termina|mostrarHoras}}
                          </tr>
                        </td>
                        <td>
                            <a (click)="eliminarEvento(evento)">
                                <i class="fas fa-trash text-danger pointer" style="margin-right: 20px;"></i>
                            </a>
                            <a [routerLink]="['/dashboard/evento',evento._id]">
                                <i class="fas fa-edit text-primary"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
