<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">L</button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">M</button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">M</button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">J</button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">V</button>
    </div>
</div>


<div class="row mt-4 mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">Actualizar Materia</h4>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <h6 class="card-title">Selecciona horario</h6>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                       <input type='text' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-time"></span>
                       </span>
                    </div>
                 </div>
            </div>

        </div>

    </div>

</div>
            