<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div>
          <h4 class="card-title">Actualizar {{materia.nombre}}</h4>
        </div>

        <form [formGroup]="asesorForm" action="" class="form-group">
          <label>Gestionar Instructores</label>
          <select formControlName="id" class="form-control" id="exampleFormControlSelect2">
            <option value="agregar">Agregar</option>
            <option value="null" disabled="true" [selected]="true">Editar instructores</option>
            <option [value]="administrador._id" *ngFor="let administrador of administradores">{{administrador.nombre}}
              {{administrador.apellido1}} {{administrador.apellido2}}</option>
          </select>
        </form>
        <form class="form p-t-20" [formGroup]="materiaForm">

          <div class="form-group row" *ngIf="materia">
            <label for="">Foto</label>
            <div class="col-sm-9">
              <div class="input-group">
                <td (click)="mostrarimgModal(materia)" class="selector">
                  <img class="card-img-top animated fadeIn" [src]="materia.img | mostrarImagen:'materia'"
                    class="img-avatar" alt="">
                </td>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="nombre" [value]="materia?.nombre">

            </div>
            <div class="form-group">
              <label for="exampleInputuname">Descripcion</label>
              <div class="input-group">
                <textarea type="text" class="form-control" placeholder="Nombre completo" formControlName="descripcion"
                  [value]="materia?.descripcion"></textarea>
              </div>
            </div>
          </div>

          <a [routerLink]="['/dashboard/horarios', materia._id]">
            <h6>Ver Horarios</h6>
          </a>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
            (click)="guardarMateria(materia)" [disabled]="materiaForm.invalid">
            <i class="fa fa-save"></i>
            Guardar
          </button>

        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6" *ngIf="instructorSeleccionado">
    <div class="col">
      <div class="card animated fadeIn text-center" *ngIf="materia">
        <div class="card-body">
          <img class="card-img-top animated fadeIn " [src]="instructorSeleccionado?.img | mostrarImagen:'usuario'"
            class="img-avatar" alt="">
          <div class="card-title">{{instructorSeleccionado.nombre}} {{instructorSeleccionado.apellido1}}
            {{instructorSeleccionado.apellido2}}

          </div>
          <div class="card-subtitle mb-2">Instructor de {{materia.nombre}}</div>
          <div class="card-subtitle">Email: {{instructorSeleccionado.email}}</div>
          <div class="card-btn mt-2">
            <a class="btn btn-danger waves-effect waves-light mr-3 centered"
              (click)="eliminarInstructor(instructorSeleccionado._id)">
              <i class="fa fa-trash"></i>
              Eliminar
            </a>
            <a class="btn btn-primary waves-effect waves-light m-r-10 centered"
              [routerLink]="['/dashboard/maestro',instructorSeleccionado._id]">
              <i class="fa fa-pen"></i>
              Editar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="agregarAdmin">
    <div class="col">
      <div class="card animated fadeIn text-center" *ngIf="materia">
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Agregar Instructor</h5>
            <form [formGroup]="agregarAdminForm" action="" class="form-group">
              <label>Instructor a Agregar</label>
              <select formControlName="id" class="form-control" id="exampleFormControlSelect2">
                <option value="">Agregar</option>
                <option [value]="administrador._id" *ngFor="let administrador of maestrosDisponibles">
                  {{administrador.nombre}} {{administrador.apellido1}} {{administrador.apellido2}}</option>
              </select>
              <a (click)="agregarInstructor()" class="btn btn-primary waves-effect waves-light m-r-10 centered mt-3">
                <i class="fa fa-plus"></i>
                agregar
              </a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
