<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">Actualizar Materia</h4>
                    <h6 class="card-subtitle">Actualizar materia</h6>
                </div>

                <form 
                     class="form p-t-20"
                     [formGroup]="materiaForm"
                     (submit)="guardarMateria()"
                     >
                    
                    <div 
                        class="form-group row"
                        *ngIf="materia"

                    >
                        <label for="" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <!-- <img (click)="mostrarModal(medicoSeleccionado) "[src]="medicoSeleccionado.img | mostrarImagen:'medicos'" class="avatar" alt=""> -->

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                                  type="text" 
                                  class="form-control" 
                                  placeholder="Nombre completo"
                                  formControlName="nombre"
                                  [value]="materia?.nombre || ''"
                                  >
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="pwd1">Asesor</label>
                        <div class="group-form">
                            <input  class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                                
                        </div>
                    </div>
                    <button 
                            type="submit" 
                            class="btn btn-success waves-effect waves-light m-r-10"
                            [disabled]="materiaForm.invalid"
                            >
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col">
            <div class="card animated fadeIn" *ngIf="materia">
                <div class="card-body">
                    <div class="card-title">Instructores de {{materia?.nombre}}

                    </div>
                    <div class="card-subtitle"></div>
                    
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img class="animated fadeIn" [src]="materia?.img" class="img-avatar" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
